/* CATEGORY THỂ LOẠI BÀI VIẾT GET ALL CATEGORIES */
/* Hiệu ứng khi hover vào thẻ a */
.topic-card {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  background-color: white;
  padding: 0px;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(205, 1, 1, 0.857); */
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
}
.topic-card:hover {
  background-color: #cdff5a;
  box-shadow: 0 8px 16px rgba(46, 213, 0, 0.911);
}
.card-body:hover {
  background-color: #cdff5a;
}

body {
  padding-top: 60px; /* Điều chỉnh tùy theo chiều cao của navbar */
}
