/* user-admin.css */
.management-section {
    display: none;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #28a745; /* Màu sáng cho trạng thái hoạt động */
}

input:checked + .slider:before {
    transform: translateX(14px);
}

input:not(:checked) + .slider {
    background-color: #6c757d; /* Màu tối cho trạng thái không hoạt động */
}

input:not(:checked) + .slider:before {
    transform: translateX(0);
}

/* user-admin.css */
#postCategoryPieChart {
    max-width: 600px;
    max-height: 900px;
    /* margin: 0 auto; */
}